#uline{
    text-decoration: underline;
    display:inline;
}
#org_BKG{
    background-color:orange;
    display:inline;
}
#red_text{
    color: red;
    display:inline;
}
#img_edits{
    height: 500px;
    width: 350px;
}
#standard_width{
    width: 350px;
}
#link_info{
    target:"blank";
}
/* First CSS file!*/